@import 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i';

// Bootstrap sb-admin-2
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2.scss';
@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.css';

@import 'theme-dashboard/sb-bootstrap-personalized.scss';

@import '~bootstrap-select/dist/css/bootstrap-select.css';

@import 'theme-dashboard/titles.scss';