.btn {
    &-fixed {
        &-bottom {
            &--right {
                position    : fixed;
                right       : 24px;
                bottom      : 24px;
                z-index: 999999;
            }
        }
    }
}
