.card {

    section {
        transition: max-height .7s;
        max-height: 2000px;
        overflow: hidden;
        &.closed {
            max-height: 0;
            overflow: hidden;
            transition: max-height .7s;
        }
    }

    &-header {
        h5 {
            margin: 0;
        }
    }

    &-department {
        .list-group {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 300px;
            border: 1px solid rgba(0, 0, 0, 0.125);

            border-top-left-radius: 0.35rem;
            border-bottom-left-radius: 0.35rem;

            &-item {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-left: none;

                img.thumb {
                    $minSize: 45px;
                    min-height: $minSize;
                    min-width: $minSize;
                    max-height: $minSize;
                    max-width: $minSize;
                }
                &:first-child {
                    border-top: none;
                }
                &:first-last {
                    border-bottom: none;
                }
            }
        }
    }
}
