.form {
    .validate {
        label:after {
            content     : '*';
            display     : inline-flex;
            align-items : center;
            color       : red;
        }
    }

    &-divider {
        height          : 0;
        margin          : 2rem 0;
        overflow        : hidden;
        border-top      : 1px solid #eaecf4;
    }

    .btn[type="submit"] {
        min-width       : 200px;
        text-transform  : uppercase;
        margin-top      : 10px;
    }
}
